<footer>
  <div>
    <h2>Get in Touch!</h2>
    {{navigation type="secondary"}}
  </div>
  <div>
    <p>&copy; {{@site.title}} {{date format="YYYY"}}</p>
    <p>Design by <a href="http://javierrizzo.com/">Javier Rizzo</a></p>
  </div>
</footer>
